<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>fly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link rel="man" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css" />

</head>

<body>
    <div id="instrctions" class="states">
        <div class="header">
            <a class="previous" href="#">
                <i class="fas fa-arrow-left"></i>
            </a>

        </div>
    </div>
    <div id="credit" class="states">
        <div class="header">
            <a class="previous" href="#">
                <i class="fas fa-arrow-left"></i>
            </a>

        </div>
    </div>
    <div id="start" class="states">
        <div class="header">
            <a class="previous" href="#">
                <i class="fas fa-arrow-left"></i>
            </a>
            <div id="points"></div>
        </div>

    </div>
    <div id="hscores" class="states">
        <div class="header">
            <a class="previous" href="#">
                <i class="fas fa-arrow-left"></i>
            </a>

        </div>
        <ul id="hs">

        </ul>
    </div>
    <div id="home" class="states">

    </div>


    <script>
        var swat = (function ($, document) {
            var gamesound = document.createElement("audio")
            var gameSource = "/static/sound/Bee-noise.mp3";
            var points = 0;
            var swatcount = 0;
            var counter = 0
            var states = { playing: 1, stop: 0, paused: 2 };
            var state = states.stop;
            var timer
            function init() {
                points = 0;
                swatcount = 0;
                state = states.playing;
                counter = 0;
                console.log("init state: ", state)
            }
            function newfly() {
                let randomY = Math.floor(Math.random() * (window.innerHeight - 200 + 1)) + 50;
                let randomX = Math.floor(Math.random() * (window.innerWidth - 70 + 1)) + 0

                $("<span class='fly'></span>").css({ "top": randomY, "left": randomX })
                    .appendTo("#start")
                counter += 1;
            }
            function pause() {
                if (state === states.playing) {
                    state = states.paused;
                    clearTimeout(timer);
                    stopBackgroundSound();
                }
                console.log("pause state in class:", state)
            }
            function play() {
                var rSpeed;
                if (state == states.paused) state = states.playing //changes state to play if paused
                if (state == states.stop) init() //changes state to play after stop also initialize evironment variables
                if (state == states.playing) { //
                    console.log(`play loop, state: ${state}`)
                    rSpeed = swatcount < 20 ? ((4 / 1) * 1000)
                        : swatcount < 40 ? (Math.ceil(4 / 2) * 1000)
                            : swatcount < 80 ? (Math.floor(4 / 3) * 1000)
                                : swatcount < 150 ? (500)
                                    : swatcount < 200 ? 300 : 100

                    counter < 1 ? gamesound.volume = 0.1
                        : counter < 2 ? gamesound.volume = 0.2
                            : counter < 3 ? gamesound.volume = 0.3
                                : counter < 4 ? gamesound.volume = 0.4
                                    : counter < 5 ? gamesound.volume = 0.5
                                        : counter < 6 ? gamesound.volume = 0.6
                                            : counter < 7 ? gamesound.volume = 0.7
                                                : counter < 8 ? gamesound.volume = 0.8
                                                    : counter < 9 ? gamesound.volume = 0.9
                                                        : gamesound.volume = 1;

                    newfly()

                    if (!gamesound.src) { gamesound.src = gameSource; }
                    gamesound.play() //play game sound if it isnt started already
                    //game loop starts here
                    timer = setTimeout(() => { play() }, rSpeed)
                    if (counter > 9) { clearTimeout(timer); stop(); setHighScore(); }  //gameover on fly counter greater than 10

                }
            }

            function getStatistics() {
                return {
                    swatCount: swatcount,
                    points: points,
                    flies: counter
                }

            }

            function setHighScore() {
                let user = prompt("Game Over \n Enter username")
                var scores;
                if (localStorage) {
                    var hscores = localStorage.getItem("scores")
                    //if localstorage already init?
                    scores = JSON.parse(hscores);
                    if (!scores) scores = {}
                    if (!scores[user]) {
                        scores[user] = points;
                        localStorage.setItem("scores", JSON.stringify(scores))
                    }

                }
            }
            function getHighScores() {
                let scores = {}
                if (localStorage) {
                    let hscores = localStorage.getItem("scores")
                    if (hscores) {
                        scores = JSON.parse(hscores);
                    }
                }
                return scores;
            }
            function getState() {
                return state;
            }
            function swat() {
                swatcount += 1;
                counter -= 1;
                points += 5;

            };

            function stopBackgroundSound() {
                gamesound.currentTime = 0;
                gamesound.pause()
            }
            function stop() {
                //pause timer and reset state
                $(".fly").remove();
                stopBackgroundSound()
                clearTimeout(timer);
                state = states.stop;
            }

            //add reset highscore botton
            return {
                init: init,
                state: getState,
                pause: pause,
                play: play,
                stop: stop,
                statistics: getStatistics,
                highscores: getHighScores,
                swat: swat

            }
        })(jQuery, document)











        function setStatistics() {
            let swat = numeral(flyswat.statistics().swatCount).format('000000')
            let points = numeral(flyswat.statistics().points).format('000000')

            $("#points")
                .html(`<i class="fas fa-skull"></i>&nbsp; <span> ${swat}</span>  &nbsp; &nbsp;  
            <i class="fas fa-coins"></i>&nbsp;<span>${points} </span>`)
        }

        var flyswat = swat;

        var app = {
            pages: document.querySelectorAll(".states"),
            routes: {
                "#home": function () {
                    setStatistics(); //set game statistics
                    let html = htmlTemplateDefault(flyswat.state())
                    $("#home").html(html);
                },
                "#start": function () {
                    setStatistics();
                    flyswat.play();

                },
                "#hscores": function () {
                    //limit only top 5 high score
                    let scores = flyswat.highscores();
                    let Arr = Object.keys(scores)
                    let flattenObj = []
                    Arr.forEach(a => flattenObj.push({ name: a, score: scores[a] }))
                    flattenObj.sort((a, b) => b.score - a.score)
                    let top = flattenObj.slice(0, 10)
                    console.log(top)
                    let html = htmlTemplateScorePage(top);
                    $("#hs").html(html);
                },
                "#credit": function () { },

            },
            navigateTo: function navigateTO(route) {
                /*hide other pages fire the onload event 
                 for the page
                */

                flyswat.pause() //handle pause on navigate to other page
                
                app.pages.forEach((page) => {
                    if (!page.classList.contains("hide")) {
                        page.classList.add("hide");
                    }
                })

                if (route) {
                    let p = document.querySelector(`${route}`);
                    if (p.classList.contains("hide")) p.classList.remove("hide")
                }

  console.log(`navigation: ${app.routes} state: ${flyswat.state()} `)
                if (app.routes[route]) {
                    app.routes[route]()
                  
console.log("main")
                } else {
                    app.routes["#home"]();
                    console.log(`else navigation: ${route} state: ${flyswat.state()} `)

                }
            }

        }


        function htmlTemplateScorePage(data) {
            let htm = `
                <li>High scores</li>
                `
            for (scores in data) {
                htm += `<li> ${data[scores].name} </li><li> ${data[scores].score}</li>`
            }

            return htm
        }

        function htmlTemplateDefault(state) {
            console.log("state: hehhe", state)
            let html = `
            ${
                (state === 2) ? "<a class='btn' href='#start'>Resume</a> <a class='btn' href='#start'>New Game</a>" :
                    "<a class='btn' href='#start'>New Game</a>"
                }
           


            
            <a class="btn" href="#hscores">High Scores</a>
            <a class="btn" href="#hscores">High Scores</a>
            <a class="btn" href="#instrctions">Instrctions</a>
            <a class="btn" href="#credit">Credit</a>`

            return html
        }


        //event handlers
        //handles clicking on the fly; increments points and reduces counts of fly
        $(document).on("click", ".fly", function () {
            flyswat.swat();
            $(this).remove();
            setStatistics();
        })

        //handle routing on page load
        window.addEventListener("load", function (e) {
            let route = location.hash;
            app.navigateTo(route)
        })

        //states are handled using hash, handles state change
        window.addEventListener("hashchange", function (e) {
            let route = location.hash;
            app.navigateTo(route)

        })







    </script>
</body>

</html>