<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>swat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link rel="man" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css" />

</head>

<body>
    <div id="instrctions" class="states">
        <div class="header">
            <a class="previous" href="#">
                <i class="fas fa-arrow-left"></i>
            </a>

        </div>
    </div>
    <div id="credit" class="states">
        <div class="header">
            <a class="previous" href="#">
                <i class="fas fa-arrow-left"></i>
            </a>

        </div>
    </div>
    <div id="start" class="states">
        <div class="header">
            <a class="previous" href="#">
                <i class="fas fa-arrow-left"></i>
            </a>
            <div id="points"></div>
        </div>
        <div id="board"></div>

    </div>
    <div id="hscores" class="states">
        <div class="header">
            <a class="previous" href="#">
                <i class="fas fa-arrow-left"></i>
            </a>

        </div>
        <ul id="hs">

        </ul>
    </div>
    <div id="home" class="states">

    </div>


    <script>
        var app = {
            pages: document.querySelectorAll(".states"),
            routes: {
                "#home": function () {

                    let html = app.htmlTemplateDefault(flyswat.state())
                    $("#home").html(html);
                },
                "#start": function () {

                    flyswat.play();

                },
                "#hscores": function () {
                    //limit only top 5 high score
                    let scores = flyswat.highscores();
                    let Arr = Object.keys(scores)
                    let flattenObj = []
                    Arr.forEach(a => flattenObj.push({ name: a, score: scores[a] }))
                    flattenObj.sort((a, b) => b.score - a.score)
                    let top = flattenObj.slice(0, 10)
                    console.log(top)
                    let html = app.htmlTemplateScorePage(top);
                    $("#hs").html(html);
                },
                "#credit": function () { },

            },
            navigateTo: function navigateTO(route) {

                flyswat.pause() //handle pause on navigate to other page

                app.pages.forEach((page) => {
                    if (!page.classList.contains("hide")) {
                        page.classList.add("hide");
                    }
                })

                if (route) {
                    let p = document.querySelector(`${route}`);
                    if (p.classList.contains("hide")) p.classList.remove("hide")
                }

                /*hide other pages fire the onload event 
                for the page                */

                if (app.routes[route]) {
                    app.routes[route]()
                    console.log(`fired onload event for ${route} route`)
                } else {
                    app.routes["#home"]();
                    console.log(`fire onload event for ${route} route`)
                }
            },
            htmlTemplateScorePage: function (data) {
                let htm = `
                <li>High scores</li>
                `
                for (scores in data) {
                    htm += `<li> ${data[scores].name} </li><li> ${data[scores].score}</li>`
                }

                return htm
            },
            htmlTemplateDefault: function (state) {
                console.log("state: hehhe", state)
                let html = `
            ${
                    (state === 2) ? "<a class='btn' href='#start'>Resume</a>" :
                        "<a class='btn' href='#start'>New Game</a>"
                    }
           


            
            <a class="btn" href="#hscores">High Scores</a>
            <a class="btn" href="#hscores">High Scores</a>
            <a class="btn" href="#instrctions">Instrctions</a>
            <a class="btn" href="#credit">Credit</a>`

                return html
            }
        }






        var swat = (function ($, document, numeral, app, window) {
            var gamesound = document.createElement("audio")
            var spiderTimer = document.querySelector("#timer")
            var gameSource = "/static/sound/Bee-noise.mp3";
            var points = 0;
            var swatcount = 0;
            var counter = 0;
            var spiderCount = 0
            var states = { playing: 1, stop: 0, paused: 2, init: 3 };
            var state = states.init;
            var timer;
            var emptyTiles = [];
            var filledTiles = [];
            var maxX = window.innerWidth// ((window.innerWidth - 60) / 60); //30
            var maxY = window.innerHeight// ((window.innerHeight - 60) / 60); //40 for smaller balls


            var animTimer = 0

            function init() {
                points = 0;
                swatcount = 0;
                counter = 0;
                setStatistics()
                generateTiles()

            }
            function generateTiles() {
                for (let x = 12; x <= (maxX - 40); x += 42) {//60 57
                    for (let y = 55; y <= (maxY - 30); y += 42) {
                        emptyTiles.push({
                            x, y
                        })
                    }

                }
                console.log("empty tiles:", emptyTiles)
            }

            function randomNumber(max, min) {
                return Math.floor(Math.random() * (max - min)) + min
            }

            function next() {

                let rand = randomNumber(emptyTiles.length - 1, 0);
                let spider = randomNumber(50, 0);
                let tile = emptyTiles.splice(rand, 1)[0];

                if (counter > 70 && spider === 20 && spiderCount < 1) {
                    $("<span class='spider'></span>")
                        .attr("data-pos", JSON.stringify(tile))
                        .css({ "top": tile.y, "left": tile.x })
                        .appendTo("#board")
                    spiderCount += 1;
                } else {
                    $("<span class='fly'></span>")
                        .attr("data-pos", JSON.stringify(tile))
                        .css({ "top": tile.y, "left": tile.x })
                        .appendTo("#board")
                }
                filledTiles.push(tile)
                counter += 1;
                console.log("filled tile:", filledTiles);
            }

            function pause() {
                if (state === states.playing) {
                    state = states.paused;
                    stopBackgroundSound();
                    clearTimeout(timer);
                }
            }

            function play() {
                var rSpeed;
                if (state == states.init) state = states.playing
                if (state == states.paused) state = states.playing //changes state to play if paused
                if (state == states.stop) init(); state = states.playing //changes state to play after stop also initialize evironment variables
                if (state == states.playing) { //

                    rSpeed = (swatcount < 20) ? (500)
                        : (swatcount < 40) ? (400)
                            : (swatcount < 80) ? (300)
                                : (swatcount < 150) ? (200)
                                    : (swatcount < 200) ? 100 : 50

                    counter < 1 ? gamesound.volume = 0.1
                        : counter < 2 ? gamesound.volume = 0.2
                            : counter < 3 ? gamesound.volume = 0.3
                                : counter < 4 ? gamesound.volume = 0.4
                                    : counter < 5 ? gamesound.volume = 0.5
                                        : counter < 6 ? gamesound.volume = 0.6
                                            : counter < 7 ? gamesound.volume = 0.7
                                                : counter < 8 ? gamesound.volume = 0.8
                                                    : counter < 9 ? gamesound.volume = 0.9
                                                        : gamesound.volume = 1;


                    next()

                    if (!gamesound.src) { gamesound.src = gameSource; }
                    gamesound.play() //play game sound if it isnt started already
                    //game loop starts here
                    timer = setTimeout(() => { play() }, rSpeed)
                    if (isGameOver()) { clearTimeout(timer); stop(); setHighScore(); }  //gameover on fly counter greater than 10

                }
            }

            function getStatistics() {
                return {
                    swatCount: swatcount,
                    points: points,
                    flies: counter
                }

            }

            function setHighScore() {
                let user = prompt("Game Over \n Enter username")
                var scores;
                if (localStorage) {
                    var hscores = localStorage.getItem("scores")
                    //if localstorage already init?
                    scores = JSON.parse(hscores);
                    if (!scores) scores = {}
                    if (!scores[user]) {
                        scores[user] = points;
                        localStorage.setItem("scores", JSON.stringify(scores))
                    }

                }
               
                location.assign("#hscores")
            }
            function getHighScores() {
                let scores = {}
                if (localStorage) {
                    let hscores = localStorage.getItem("scores")
                    if (hscores) {
                        scores = JSON.parse(hscores);
                        localStorage.setItem("scores", JSON.stringify(scores))
                    }
                }
                return scores;
            }

            function isGameOver() {
                return emptyTiles.length < 1
            }

            function getState() {
                return state;
            }
            function swatFly() {
                swatcount += 1;
                counter -= 1;
                points += 5;

            };
            function swatSpider() {
                let countsOfFliesExcludingSpiders = counter - spiderCount
                swatcount += counter;
                points += (5 * countsOfFliesExcludingSpiders) + (spiderCount * 7);
                counter = 0;
                spiderCount = 0

            };

            function stopBackgroundSound() {
                gamesound.currentTime = 0;
                gamesound.pause()
            }
            function stop() {
                $(".fly").remove();
                stopBackgroundSound()
                clearTimeout(timer);
                state = states.stop;

            }

            function setStatistics() {
                let swat = numeral(flyswat.statistics().swatCount).format('000000')
                let points = numeral(flyswat.statistics().points).format('000000')

                $("#points")
                    .html(`<i class="fas fa-skull"></i>&nbsp; <span> ${swat}</span>  &nbsp; &nbsp;  
            <i class="fas fa-coins"></i>&nbsp;<span>${points} </span>`)
            }

            //handle routing on page load
            window.addEventListener("load", function (e) {
                let route = location.hash;
                app.navigateTo(route)
            })

            //states are handled using hash, handles state change
            window.addEventListener("hashchange", function (e) {
                let route = location.hash;
                app.navigateTo(route)

            })

            //handles clicking on the fly; increments points and reduces counts of fly
            $(document).on("click", ".fly", function () {
                /*
                 1) First retrieve position of the object, extract the index of the tile
                    from the filled tiles and remove it, then push it to the empty tiles
                 2) Remove it from view
                 3) Update counters and set in view
                 */
                let pos = $(this).data("pos")

                console.log("clicked fly", JSON.stringify(pos))
                let index = filledTiles.findIndex((x) => JSON.stringify(x) == JSON.stringify(pos))
                let tile = filledTiles.splice(index, 1);
                emptyTiles.push(...tile)
                $(this).remove();
                swatFly()
                setStatistics();
            })


            $(document).on("click", ".spider", function () {
                /*
                1) Move all tiles in filled tile to empty empty tiles
                2) empty the board.
                3) update counters and update point in views
                */
                emptyTiles = [...emptyTiles, ...filledTiles]
                filledTiles = []
                $("#board").empty();
                $("#timer").remove()
                swatSpider()
                setStatistics();
            })

            document.addEventListener("animationstart", function (e) {
                console.log("animation start", e)
                if (e.animationName == "blip") {
                    let a = $("<div> </div>").text("10");
                    $("<div id='timer' class='echo'></div>").append(a).appendTo("#start")
                    animTimer = setInterval(function () {
                        let curr = $("#timer div").text()
                        if (Number(curr) > 0) {
                            $("#timer div").text((Number(curr) - 1))
                        }

                    }, 1000)
                }

            })

            document.addEventListener("animationend", function (e) {
                if (e.animationName == "blip") {
                    let element = e.target;
                    element.parentNode.removeChild(element);
                    clearInterval(animTimer);
                    $("#timer").remove()
                }

            })

            return {
                init: init,
                state: getState,
                pause: pause,
                play: play,
                stop: stop,
                statistics: getStatistics,
                highscores: getHighScores,
                swat: swat

            }


        })(jQuery, document, numeral, app, window)

        var flyswat = swat;
        flyswat.init()










    </script>
</body>

</html>